@charset "utf-8";

#warp{
	border-radius: 0pt 30pt;
	background-color: #1D6712;
	height: 123px;
	display: table;
	width: 100vw;
}
#Const{
	font-size: 40pt;
	color: #FFFFFF;
}
body{
	background-image: url(https://www.comunio.es/i/2/rasen_cropped.jpg)

}
